@mixin left($value:10px){
    float: left;
    margin-right: $value;
}
div{
    @include left(130px);
}
@mixin rounded($vert, $horz, $radius: 10px) {
    border-#{$vert}-#{$horz}-radius: $radius;
    -moz-border-radius-#{$vert}#{$horz}: $radius;
    -webkit-border-#{$vert}-#{$horz}-radius: $radius;
}
#navbar li { @include rounded(top, left); }
#footer { @include rounded(top, left, 5px); }


@mixin transform_Prdfix($value){
transform:#{$value};
-ms-transform:#{$value};
-moz-transform:#{$value};
-webkit-transform:#{$value};
-o-transform:#{$value};
}
div{
    @include transform_Prdfix(translate(50%,50%))
}
