@charset "utf-8";
html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,h2,h3,h4,h5,h6,
form,
fieldset,
table,
tr,
td,
p,
input,
img
{
    margin: 0;
    padding: 0;
    font-family: "Microsoft yahei";
    font-size: 14px;
}

img{
    border:none;
}

li{
    list-style:none;
}

i,
em{
    display: inline-block;
    font-style: normal;
}

a{
    text-decoration:none;
    color: #000;
}

a:hover,
a:active,
a:visited,
a:focus{
    /*text-decoration:none;	*/
    outline: transparent;
}

input,select,textarea{
    outline:none;
    border:none;
    background:none;
}

.wrap{
    min-width:1080px ;
    height: 935px;
    overflow: hidden;
}
.w_wrap{
    width: 96.3%;/*1040*/
    height: 818px;
    margin: 36px auto 0;
    overflow: hidden;
}
.b_wrap{
    width: 98.3%;/*1022*/
    height: 730px;
    margin: 24px auto 0;
}
.distributor{
    width:100%;
    height: 266px;
    margin: 0 auto;

}
.distributor .distributor_t{
    width: 100%;
    height: 205px;
    background: #e3e3e3;

}
.distributor_b{
    width: 100%;
    height: 63px;
}
.dis_L{
    width: 43%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 1px solid #CCCCCC;
    box-sizing: border-box;
    background: #f5f5f5;
}
.dis_side{
    width: 52px;
    height: 168px;
    background: #457181;
    /*float: left;*/
    border-radius: 0 7px 7px 0;
    display: table-cell;
    vertical-align: middle;
    
}
.dis_side p{
    width: 24px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    /*display: inline-block;*/
}

.dis_r{
    width: 57%;
    height: 100%;
    background: #0071ce;
    float: right;
}
.dis_L_title{
    width: 100%;
    height: 50px;
    background: #e3e3e3;
    line-height: 50px;
    text-align: center;
}
.dis_min{
    width: 88%;
    position: absolute;
    right: 0;
    bottom:0;
    height: 156px;
    background: #f5f5f5;
}
.dis_min_T{
    width: 88%;
    height: 105px;
    margin-left: 6%;
    border-bottom: 1px solid #cccccc;
}
.dis_min_T1{
    width: 27.3%;
    height: 105px;
    padding-left: 44px;
    float: left;
}
.dis_min_T1 li{
    height: 36px;
    line-height: 36px;
}
.dis_min_T2{
    width: 47%;
    height: 100%;
    float: right;
}
.dis_min_T2 li{
    height: 36px;
    line-height: 36px;
}
.dis_min_B{
    width: 79.1%;
    height: 50px;
    line-height: 50px;
    margin-left: 17.7%;
    background: #f5f5f5;
    position: relative;
}
.dis_min_B span{
    position: absolute;
    top: 16px;
    left: -34px;
    width: 28px;
    height: 16px;
    border: 1px solid #ffb49e;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
    cursor: pointer;
}
.dis_min_B p{
    position: absolute;
    top: 40px;
    left: -20px;
    padding: 0 15px;
    height: 25px;
    border: 1px solid #cccccc;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    -webkit-box-shadow:0 0 10px #09f;
    -moz-box-shadow:0 0 10px #09f;
    box-shadow:0 0 10px #09f;
    display:none;
}
.dis_min_B li{
    font-size: 16px;
    height: 50px;
    line-height: 50px;
}
.dis_min_B li:first-child{
    width: 27.3%;
    float: left;
}
.dis_min_B li:nth-child(2){
    width: 55%;
    float: right;
}
.dis_R_title{
    width: 100%;
    height: 37px;
    background: #e3e3e3;
    padding-top: 13px;
}
/*.dis_R_title span{*/
    /*width: 10%;*/
    /*height: 28px;*/
    /*padding: 0 1.8%;*/
    /*line-height: 28px;*/
    /*float: left;*/
    /*margin: 0 1% 1% 0;*/
    /*text-align: center;*/
    /*border: 1px solid #e3e3e3;*/
/*}*/
.dis_R_title li{
    width: 11.5%;
    height: 28px;
    line-height: 28px;
    float: left;
    background: #ffffff;
    margin: 0 1% 1% 1%;
    text-align: center;
    border: 1px solid #e3e3e3;
    cursor: pointer;

}
.tians{
    visibility: hidden;
    float: left;
    background: #ffffff;
    width: 15%;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: #000;
}
.tians input{
    width: 50%;
    height: 100%;
    text-align: center;
}

.dis_R_title li:first-child{
    background: none;
    width: 70px;
}
.dis_R_title li:nth-of-type(5){
    margin-right: 0;
}
/*.dis_R_title li:nth-of-type(6){*/
    /*width: 8.4%;*/
/*}*/

.dis_R_title button{
    width: 14%;
    height: 28px;
    line-height: 28px;
    background: #4778c7;
    border:none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #ffffff;
    float: right;
    margin-right: 1%;
    outline:none;
    cursor: pointer;
}
.dis_r_T{
    width: 100%;
    height: 156px;
    background: #f5f5f5;
} 
.dis_r_T ul{
    float: left;
}
.dis_r_T li{
    height: 36px;
    line-height: 36px;
}
.dis_R_t{
    width: 91.5%;
    height: 105px;
    margin: 0 auto;
    border-bottom: 1px solid #cccccc;
}
.dis_r_T1{
    width: 37.2%;
    height: 105px;
    padding-left: 20.0%;
}
.dis_r_T2{
    float: left;
    width: 42%;
    height: 105px;
}
.dis_R_b{
    width: 91.5%;
    height: 50px;
    margin: 0 auto;
    position: relative;
}
.dis_R_b li{
    height: 50px;
    line-height: 50px;
}
.dis_R_b1{
    width: 37.2%;
    height: 105px;
    padding-left: 20.0%;
    float: left;
    /*position: relative;*/
}
.dis_R_b span{
    position: absolute;
    top: 17px;
    left: 14%;
    width: 28px;
    height: 16px;
    border: 1px solid #ffb49e;
    text-align: center;
    line-height: 16px;
    font-size: 11px;
    cursor: pointer;
    box-sizing: border-box;
}
.dis_R_b p{
    position: absolute;
    top: 37px;
    left: 70px;
    padding: 0 15px;
    height: 25px;
    border: 1px solid #cccccc;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    -webkit-box-shadow:0 0 10px #09f;
    -moz-box-shadow:0 0 10px #09f;
    box-shadow:0 0 10px #09f;
    display: none;
}
.dis_R_b2{
    float: left;
    width: 40%;
    height: 105px;
}
.distributor_b{
    border-top: 2px solid #e2e2e2;
    padding-top: 15px;
    height: 48px;
    background: #f5f5f5;
}
.distributor_b p{
    width: 10.7%;
    height: 30px;
    float: left;
    font-size: 23px;
}
.distributor_b button{
    width: 130px;
    height: 32px;
    float: left;
    border: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    font-size: 16px;
}

/*sell 超会卖公众号*/
.sell{
    width: 100%;
    height: 216px;
    background: #000077;
    margin-top: 10px;
}
.sell .distributor_t{
    height: 156px;
}
.buy{
    width: 100%;
    height: 216px;
    background: #000077;
    margin-top: 10px;
}
.buy .distributor_t{
    height: 156px;
}







