body,h1,h2,h3,h4,ul,li,p{padding: 0;margin: 0;}
ul,li{list-style: none;}
body{font-family: "微软雅黑", Arial,serif;font-size: 0.6rem;}
html,body{height: 100%;background: #fff;display: -webkit-box;-webkit-box-orient:vertical;}
img{display: block;}
em{font-style: normal;}
input{outline: none;}
.left{float: left;}
.right{float: right;}
.hori{display: -webkit-box;-webkit-box-orient:horizontal;}
.vert{display: -webkit-box;-webkit-box-orient:vertical;}
a{text-decoration: none;color: #333;outline: none;-webkit-tap-highlight-color:transparent;}
/**************吸顶***************/
.container{-webkit-box-flex: 1;overflow-y: scroll;}
.dealer-header{height: 40px;background: #009f96;display: none;position: fixed;top: 0;width: 100%;z-index: 10;font-family: "微软雅黑", Arial,serif;}
.dealer-header>i{display:inline-block; font-style: normal;padding-left: 10px;color: #fff;font-size: 14px;line-height: 40px;width: 80%;overflow: hidden;}
.dealer-header>a{float: right;width: 40px;height: 40px;text-align: center;}
.dealer-header>a>img{display: inline-block; width: 18px;padding-top: 12px;}
/**************详情信息***************/
.proTitleBox{padding: 0.5rem 0.55rem;background: #009e95;overflow: hidden;}
.proTitleBoxl{width: 3.15rem;height: 3.15rem;margin-right: 0.55rem;}
.proTitleBoxl>img{width: 2.8rem;height: 2.8rem;border-radius: 50%;border: 0.15rem solid #fff;}
.proTitleBoxr{-webkit-box-flex: 1;}
.proTitleBoxr>h3{font-size: 0.7rem;color: #fff;line-height: 1.1rem;font-weight: 100;}
.proTitleInfol{-webkit-box-flex: 1;}
.proTitleInfol>span{color: #e0dede;width: 2.3rem;display: inline-block;line-height: 0.9rem;}
.proTitleInfor img{width: 1.5rem;height: 1.5rem;}
/**************活动***************/
.proDetailBox{padding:0.2rem 2.1rem 0.2rem 0.5rem;background: #33b2ab;color: #eefefd; font-size: 0.5rem;}
.proDetailBox>div>p{line-height: 0.9rem;padding: 0 0.13rem 0.13rem 1.1rem;background: url("../image/shop/icon_zhuan.png") no-repeat left 0.15rem;background-size: 0.75rem;}
.proDetailBox>div>p:nth-of-type(2){background-image:url("../image/shop/icon_jian.png");}
.proDetailBox>div{border-right: 1px solid #61c0bb;height:1.9rem}
/**************搜索***************/
.proSearch{margin: 0.5rem;padding: 0.3rem; border: 1px solid #c6c6c6;border-radius:0.125rem;position: relative;}
.titlestyle{width:2rem;height: 0.85rem;background-size:50%;position: relative;}
.titlestyle>ul{display: none;border: 1px solid #c6c6c6;position: absolute;top: 1.25rem;left: -0.3rem;width: 100%;z-index: 3;background: #fff;text-align: center;line-height: 1.5;box-shadow: 0 0 5px #aaa;}
.titlestyle>ul>li{margin: 0 0.3rem;border-bottom:1px solid #C6C6C6 ;}
.titlestyle>ul>li:last-of-type{border: 0;}
.inputbox{-webkit-box-flex: 1;position: relative;}
.inputbox input{border: 0;width: 100%;height: 100%;font-size: 0.6rem;line-height: 0.8rem;}
.searchbtn{display: block;width: 1.2rem;height: 0.85rem;background: url("../image/shop/icon_zoom.png") no-repeat right center; background-size:0.85rem;border-left: 1px solid #c6c6c6;}
.clear{position: absolute;top: 0;right: 5px;width:0.8rem ;height:0.8rem ;background: url(../image/shop/icon_delete.png) no-repeat center;background-size: 0.8rem;}
/**************中间主要内容***************/
#cgl-cont{border-top: 1px solid #ddd;min-height:18.6rem;overflow-x: hidden;background: #f5f5f5;}
.cgl-menu{width: 3.875rem;min-height: 18.6rem; background: #f5f5f5;}
.cgl-menu>li{line-height: 1.95rem;text-indent: 0.4rem; border-bottom: 1px solid #ddd;font-size: 0.6rem;color: #666;position: relative;}
.cgl-menu>li.clion{background: #fff;}
.clion:before{content: "";width: 0.175rem;height: 1.95rem;background: #f7af01;position: absolute;left: 0;top: 0;}
.sale:after{content: "";width: 1rem;height: 1rem;position: absolute;top: 0;right: 0;background: url("../image/shop/sale.png") no-repeat;background-size: 1rem;}
.submenu{display: none;background: #fff;}
.submenu>li{border-top: 1px solid #ddd;text-indent: 0.5rem;position: relative;}
.submenu>li>i{position: absolute;right: 5px; top: 1px;font-style: normal;font-family: serif;}
.col1{color: #f7af01;}
.link{position: relative;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.link>i{display: block;width: 0.55rem;height: 0.55rem;background: url(../image/shop/mor1.png) no-repeat;background-size:0.55rem ;position: absolute;right: 0;bottom: 0;}
#loading{position: fixed;width: 75%;height: 100%;display: none;}
#loading>img{width: 2.1rem;height: 2.1rem;margin: 4rem auto 0.1rem;}
#loading>div{text-align: center;}


.cgl-contlist{overflow-y:auto;width: 73.5%;padding-right: 10px;margin-right: -10px;padding-left:0.32rem ;background: #fff;}
.cgl-contlist::-webkit-scrollbar{width:0;}
.sanji{display: none;width: 81.1%;height: 1.95rem;text-align: center;line-height: 1.95rem;position: absolute;top: 2.05rem;right: -0.55rem;}
.sanji>h4{font-weight: 100;height: 1.925rem;background: #fff;border-bottom: 1px solid #ddd;overflow: hidden;}
.sanji>h4>i{font-style: normal;font-family: serif;transform: rotateZ(90deg);display: inline-block;position: relative;left: 8px;}
.sanji-zi{display: none; background: rgba(0,0,0,0.2);height: 16.6rem;margin-top: -1px;}
.sanji-zi>ul{background: #f5f5f5;margin-top: 1px;overflow: hidden;padding: 0.65rem 0.3rem;}
.sanji-zi>ul>li{float: left;width: 3.5rem;height: 1.2rem; line-height: 1.2rem; border:1px solid #C6C6C6;border-radius: 3px;color: #999; background: #fff;margin-left: 0.2rem;}


.cgl-contlist>ul{width: 100%;}
.mart{padding-top: 1.95rem;}
.cgl-contlist>ul>li{border-bottom: 1px solid #c7c5c5;padding: 0.5rem 0;}
.cgl-contlist>ul>li:last-child{border: 0;}
.cgl-top img{width: 2.5rem;height: 2.5rem;margin-right: 0.4rem;}
.the-xiangxi{-webkit-box-flex: 1;}
.cgl-linqi{display: inline-block;width:0.75rem;height: 0.75rem; background: url("../image/shop/icon_lin.png") no-repeat center;background-size:0.75rem ;margin:0 0.1rem -0.1rem 0;}
.the-xiangxi>h3{font-weight: 100;color: #333;font-size: 0.65rem;}
.the-xiangxi>p{color: #999;font-size: 0.5rem;}
.c-price span:nth-child(1){color: red;font-size: 0.7rem;}
.c-price .del{margin-left: 5px;}
.c-price>div{padding-right: 0.5rem;margin-top: -0.2rem;}
.c-price>div>span{float: left;}
.jian,.add{display: inline-block; width: 1.32rem;height: 1.32rem;background: url("../image/shop/sub.png") no-repeat center;background-size: 1.32rem;}
.add{background-image: url("../image/shop/add.png");}
.price-z{display: inline-block;height: 1.32rem;padding: 0 0.15rem;line-height: 1.32rem;}
.the-xiangxi>del,.del{color: #bbb;font-size: 0.5rem;}
.del{position: relative;}
.del>i{display: inline-block;width: 0.7rem;height: 0.7rem;background: url("../image/shop/yucun.png") no-repeat center;background-size: 0.7rem;margin:0 2px -0.1rem 2px;}
.del:after{content: "";width: 100%;height: 1px;position: absolute;top: 50%;left: 0; background: #999;}
.cgl-syu{color: #bbb;font-size: 0.6rem;}
.cgl-active{color: #009f96;margin: 0.1rem 0 0.2rem;}
.cgl-active>span{display: inline-block;padding: 0.1rem; border: 1px solid #009f96;border-radius: 0.15rem;line-height: 1;margin-right: 0.15rem;}
.youligift{margin: -0.85rem 0.5rem 0 1.75rem;}
.cgl-beizhu{color: #999;}

/**************一般列表***************/
.ggdiv{overflow: hidden;padding: 0.1rem 0;}
.ggborder{float: left; border:1px solid #ddd;border-radius: 5px;padding: 0.2rem 0.35rem 0.25rem; line-height: 1;color: #999;}
.cgl-ggmore>div{display: none;}
.cgl-ggmore>div:nth-of-type(1){display: block;display: -webkit-box;}
/**************底部***************/
footer{height: 50px;background: #333;color: #fff;}
.footerl{-webkit-box-flex: 1;position: relative;}
.cart{width: 43px;height: 43px;border-radius: 50%;position: absolute;top: -9px;left: 11px;background:#000 url("../image/shop/buycar2.png") no-repeat center;background-size: 50%;}
.ammount{width: 30px;height: 30px;background: red;color: #fff; text-align: center;line-height: 32px;border: 1px solid #fff;border-radius: 50%;position: absolute;top:-10px;right: -10px;font-size: 16px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;transform:scale(0.5);}
.price{padding-left: 59px;line-height: 50px;font-size: 13px;}
.price>i,.c-price i,.footerr>span>i{font-style: normal;}
.footerr>a{display:block;color: #fff;background: #009f96;text-align: center;line-height: 50px;font-size: 14px;padding: 0 9px;}
.footerr>span{display: block;background: #54504f;text-align: center;line-height: 50px;padding: 0 9px;font-size: 14px;}



#zhezao{width: 100%;height: 100%;background: rgba(200,200,200,0);position: fixed;top:0;right: 0;z-index: 100;display: none;}
.tishi{
	display: flex;flex-direction:column
}
.tishi div:nth-child(1) {
    position: relative;padding:6px 8px;font-size: 0.4rem;
}

    .tishi div:nth-child(1):after{
        content: "";
        pointer-events: none; /* 防止点击触发 */
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 200%;
        left: 0;
        top: 0;
        border-bottom:1px solid #aaa;
        -webkit-transform:scaleY(0.5);
        -webkit-transform-origin: 0 0;
        transform:scaleY(0.5);
        transform-origin: 0 0;
    }
.tishi div:nth-child(2) {
    position: relative;height:68%;font-size: 0.2rem;
}

    .tishi div:nth-child(2):after{
        content: "";
        pointer-events: none; /* 防止点击触发 */
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 200%;
        left: 0;
        top: 0;
        border-bottom:1px solid #aaa;
        -webkit-transform:scaleY(0.5);
        -webkit-transform-origin: 0 0;
        transform:scaleY(0.5);
        transform-origin: 0 0;
    }
   .tishi div:nth-child(3){
   		flex:1;
   }
.cfm{
	display:block;padding:1% 2%;background:#009f96;position:absolute;right:5%;bottom:15%;font-size: 0.4rem;text-align: center;color:#fff
}
.ms{
	display: block;width:75%;height:80%;overflow:hidden;float:left;margin-top:5%;font-size: 0.5rem;margin-left: 5px;
}
.tishi{
	width:80%;height:35%;background:#fff;position: fixed;left:10%;top:20%;color：#aaa;
}
    .tishi:after{
        content: "";
        pointer-events: none; /* 防止点击触发 */
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        height: 200%;
        left: 0;
        top: 0;
        border:1px solid #ccc;
        -webkit-transform:scaleY(0.5);
        -webkit-transform-origin: 0 0;
        transform:scaleY(0.5);
        transform-origin: 0 0;
    }
.tsh{
	width:100%;position:absolute;left:0;top:0;z-index:2000;background:rgba(255,255,255,0);display: none;
}