@charset "utf-8";
/* CSS Document */
body{ padding:0; margin:0; width:100%; height:100%;margin-bottom:4rem; }
#infoPanel{padding:0; margin:0; width:100%; height:28px;}
#infoPanel iframe{ width:100%; height:100%; margin:0px; padding:0px;  }

#frameMiddel{ border:0px;width:100%; height:100%;margin:0px; padding:0px; border-top:1px #ddd solid; }
#frameMiddel #frameLeftToggle{ border-right:0px #ccc solid;width:10px;float:left; margin:0px; padding:0px; background:#fff;   }
#frameMiddel #frameLeftToggle img{width:10px; height:45px;float:left; margin:0px; padding:0px; cursor:pointer;  }
#frameMiddel #frameMiddelLeft{ border-right:0px #ccc solid;width:25%; height:100%;float:left; margin:0px; padding:0px; background:#fff;  }
#frameMiddel #frameMiddelLeft iframe{ width:100%; height:100%; margin:0px; padding:0px;  }
#frameMiddel #frameMiddelRight{ width:74%; height:100%;float:right;margin:0px; padding:0px; background:#fff;  }
#frameMiddel .frameMiddelRight{ width:74%; height:100%;float:right;margin:0px; padding:0px; background:#fff;  }
#frameMiddel #frameMiddelRight iframe{ width:100%; height:100%; margin:0px; padding:0px;  }
