html,body {
	background-color: #fff;
}

.bigBox{
	padding: 0.18rem 0.1rem 0;
}

/* li 列表 */
.yhq_data>li{
	width: 1.15rem;
}
.yhq_data>li:nth-of-type(3){
	margin-left: 0rem;
}
.yhq_data>li:nth-of-type(3)>span{
	color:#ff0000;
}
.yhq_data>li:nth-of-type(4)>i.bntOn{
	background-color: #ff8401;
}
.yhq_data>li:nth-of-type(4)>i.btnOff{
	background-color: #bfbfbf;
}
.yhq_data>li:nth-of-type(4)>i{
	display: block;
	font-style: normal;	
	height: 0.48rem;
	font-size: 0.18rem;
	color: #fff;	
	border-radius: 0.24rem;	
	text-align: center;
	line-height: 0.48rem;
	-webkit-transform: translateY(-0.1rem);
}

/*
 * 修改后页面样式
 */
.yhq_details>dl>dd>div{
	margin-bottom: 0.18rem!important;
}
.yhq_details>dl>dd>div>a{
	text-decoration: none;	
}
.yhq_details>dl>dd>div>a>span{
	color: #ff8401;
	font-size: 0.24rem;
}
.yhq_details>dl>dd>div>a>span.txtOne{
	display: block;
    width: 3.07rem;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.yhq_details>dl>dd>div>a>i{
	font-style: normal;
    display: block;
    float: right;
    color: #bcbcbc;
    font-size: 0.24rem;
    -webkit-transform: translateX(0.65rem) translateY(-0.35rem);
}
.yhq_details>dl>dd>div>a>i.txtMore{
	display: none;
}
.yhq_details>dl>dd>div>a:hover{
	text-decoration: none;
}
.kong_top>span{	
    background-color: #fff!important;
}


/* shop_door */

.shop_door>h3 {
	font-size: 0.35rem;
	color: #ff8042;
	margin: 0.18rem 0 0.14rem 0.07rem;
}

.shop_door>h3>span {
	font-size: 0.35rem;
	color: #a9a9a9;
	margin-left: 0.02rem;
}

.shop_door>ul>li {
	height: 1.10rem;
	padding: 0.14rem 0.07rem 0.06rem;
	border-top: 2px solid #ccc;
	border-bottom: 1px solid #e6e4e4;
}
.shop_door dl{
	width: 5.18rem;
	float: left;
}
.shop_door dt {
	width: 1.10rem;
	height: 1.10rem;
	background: url(/consumer/image/door.jpg) no-repeat center;
	background-size: 100%;
	float: left;
}

.shop_door dd {
	float: left;
	margin-left: 0.16rem;
	width: 3.90rem;
	border-right: 1px solid #e6e4e4;
}

.shop_door dd>h4 {
	font-size: 0.26rem;
	line-height: 0.47rem;
	width: 3.50rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.shop_door dd>p {
	font-size: 0.2rem;
	margin-top: 0.20rem;
	display: inline-block;
	line-height: 0.42rem;
	color: #ff6600;
}
.shop_door dd>p:nth-of-type(1) {
	margin-right: 0.2rem;
}
.shop_door dd>p>span {
	display: inline-block;
	width: 0.3rem;
	height: 0.3rem;
	font-size: 0.2rem;
	text-align: center;
	line-height: 0.3rem;
	padding: 0.03rem;
	border-radius: 50%;
	border: 1px solid #999;
	color: #999;
	margin-right: 0.12rem;
}

.shop_door .clearD .storeCall {
	float: right;
	color: #ff8401;
    /* width: 0.70rem; */
    height: 0.70rem;
    margin-top: 0.1rem;
    /* margin-left: 0.22rem; */
    text-align: center;
}

.shop_door .storeCall>img {
	display: inline-block;
    width: 0.58rem;
    height: 0.58rem;
    margin: 0 auto 0.06rem;
}

.shop_door>ul>p {
	font-size: 0.22rem;
	color: #666666;
	padding: 0 0.14rem;
	line-height: 0.6rem;
}

.shop_door>ul>p>span {
	font-size: 0.2rem;
	color: #dddddd;
	float: right;
}


/* share */

/*.share>p {
	line-height: 4.0rem;
}

.share>span {
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
	right: 1.0rem;
}*/