@charset "UTF-8";
/*通用样式*/
.displayNone {
  display: none; }

.visibilityHidden {
  visibility: hidden; }

/*模拟下拉样式*/
ul {
  list-style: none;
  padding: 0; }

.selectLWrapL {
  width: 150px;
  border: 1px solid #e4e4e4;
  line-height: 25px;
  cursor: pointer;
  position: relative; }

.disabled {
  background-color: #faf9f9; }

.selectLWrapL em {
  display: inline-block;
  text-indent: 10px;
  font-style: normal;
  word-break: keep-all;
  word-wrap: normal; }

.selectLWrapL i {
  width: 30px;
  position: absolute;
  height: 16px;
  right: 0;
  top: 4px;
  border-left: 1px solid #ccc; }

.selectLWrapL i:before {
  content: "";
  width: 8px;
  height: 8px;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  transform: rotate(45deg);
  display: inline-block;
  margin: 0 0 7px 10px;
  position: absolute;
  left: 0px;
  top: 0px; }

.selectLWrapL ul {
  display: none;
  width: 100%;
  padding: 0 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-top: 0;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  top: 24px;
  line-height: 25px;
  z-index: 1; }

.selectLWrapL ul li + li {
  border-top: 1px solid #e4e4e4; }

/*其他通用样式*/
* {
  padding: 0;
  margin: 0; }

input {
  outline: none;
  border: 1px solid #e4e4e4; }

button {
  cursor: pointer; }

/*非通用样式*/
/*wrap*/
.wrap {
  background: #f2f2f2;
  width: 1080px;
  box-sizing: border-box;
  padding: 0px 20px;
  margin: 0px auto; }

/*查询条件整体*/
.queryCondition {
  width: 1042px;
  box-sizing: border-box;
  padding: 13px 13px 13px 20px;
  background: #ffffff; }

/*查询条件左侧*/
.queryConditionLeft {
  font-size: 0;
  width: 210px;
  display: inline-block;
  vertical-align: top; }

.queryConditionLeft span {
  font-size: 15px;
  width: 67px;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  vertical-align: middle; }

.queryConditionLeft input, .queryConditionLeft .selectLWrapL {
  font-size: 15px;
  width: 140px;
  height: 25px;
  box-sizing: border-box;
  vertical-align: middle; }

.queryConditionLeft .selectLWrapL {
  font-size: 15px;
  display: inline-block; }

.queryConditionLeft .selectLWrapL em {
  width: 106px;
  text-align: center; }

/*查询条件中侧*/
.queryConditionMiddle {
  font-size: 0;
  width: 328px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top; }

.queryConditionMiddle span {
  font-size: 15px;
  width: 110px;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  vertical-align: middle; }

.queryConditionMiddle input {
  font-size: 15px;
  width: 100px;
  height: 25px;
  box-sizing: border-box;
  vertical-align: middle; }

.queryConditionMiddle i {
  font-size: 15px;
  display: inline-block;
  font-style: normal;
  width: 18px;
  text-align: center;
  vertical-align: middle; }

/*查询条件右侧*/
.queryConditionRight {
  font-size: 0;
  width: 288px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top; }

.queryConditionRight .title {
  font-size: 15px;
  width: 67px;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  vertical-align: middle; }

.activityAreaSelect {
  display: inline-block; }

.qC_activityArea span {
  vertical-align: middle; }

.qC_activityArea .activityAreaSelect {
  vertical-align: middle; }

.qC_activityBudget input {
  font-size: 15px;
  width: 100px;
  height: 25px;
  box-sizing: border-box;
  vertical-align: middle; }

.qC_activityBudget .i {
  font-size: 15px;
  display: inline-block;
  font-style: normal;
  width: 18px;
  text-align: center;
  vertical-align: middle; }

.qC_number, .qC_principal, .qC_subsidyReleased, .qC_joinVipNumber, .qC_activityBudget, .qC_status {
  margin-top: 10px; }

.qC_status .selectLWrapL {
  font-size: 15px;
  width: 218px;
  height: 25px;
  box-sizing: border-box;
  vertical-align: middle;
  display: inline-block; }

.qC_status .selectLWrapL em {
  width: 183px;
  text-align: center; }

/*查询按钮*/
.queryConditionButton {
  width: 130px;
  height: 96px;
  line-height: 96px;
  display: inline-block;
  vertical-align: middle; }

.queryConditionButton button {
  outline: none;
  width: 130px;
  background: #4c83db;
  height: 34px;
  color: #ffffff;
  border: 0; }

/*功能按钮区functionButtons新增打印等*/
.functionButtons {
  margin-top: 10px;
  background: #FFFFFF;
  padding: 20px; }

.functionButtons button {
  outline: none;
  width: 130px;
  height: 34px;
  border: 0; }

.addButton {
  background: #ff6032;
  color: #ffffff; }

.printButton {
  background: #E4E4E4;
  color: #000000;
  margin-left: 15px; }

/*table*/
.activityList table {
  width: 100%; }

.activityList table img {
  cursor: pointer; }

.activityList th {
  font-weight: bold;
  font-size: 12px;
  color: #333;
  border-top: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  height: 40px;
  padding: 8px;
  text-align: center;
  background-color: #f3f1f1;
  line-height: 18px;
  word-break: break-all;
  word-wrap: break-word; }

.activityList th.last {
  border-right: 1px solid #e4e4e4; }

.activityList td {
  font-size: 12px;
  color: #333;
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  height: 60px;
  padding: 8px;
  text-align: center;
  background-color: #FFFFFF;
  line-height: 18px;
  word-break: break-all; }

.activityList td.last {
  border-right: 1px solid #e4e4e4; }

.activityList .checkBox {
  width: 15px;
  height: 15px;
  background: url("../img/check.png") 100% 100% no-repeat; }

.activityList .checkBox.on {
  background: url("../img/checked.png") 100% 100% no-repeat; }

.activityList .edit {
  position: relative;
  font-size: 0px; }

.edit img {
  width: 25px; }

.edit .menu {
  position: absolute;
  z-index: 2;
  right: 6px;
  top: 59px;
  background: #C4E4EF;
  height: 34px;
  line-height: 34px;
  display: inline-block;
  word-wrap: normal;
  word-break: keep-all;
  padding: 0px 5px; }

.menu .menuArrow {
  position: absolute;
  top: -8px;
  right: 9px;
  border-top: 0px;
  border-bottom: 8px solid #C4E4EF;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent; }

.menu i {
  font-size: 12px; }

.menu .menuElement {
  padding: 0px 5px;
  border-right: 1px solid #8abdcf;
  font-size: 12px;
  display: inline;
  cursor: pointer; }

/*可能是日期图片*/
/*loading图*/
.loadingDiv {
  width: 100%;
  height: 100%;
  background: rgba(100, 100, 100, 0.8);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0; }

.loadingImg {
  width: 25%;
  /*margin:0px auto;*/
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/*# sourceMappingURL=activity%20list.css.map */
