
@charset "utf-8";
html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,h2,h3,h4,h5,h6,
form,
fieldset,
table,
tr,
td,
p,
input,
img
{
    margin: 0;
    padding: 0;
    font-family: "Microsoft yahei";
    font-size: 14px;
}

img{
    border:none;
}

li{
    list-style:none;
}

i,
em{
    display: inline-block;
    font-style: normal;
}

a{
    text-decoration:none;
    color: #000;
}

a:hover,
a:active,
a:visited,
a:focus{
    /*text-decoration:none;	*/
    outline: transparent;
}

input,select,textarea{
    outline:none;
    border:none;
    background:none;
}

.autocomplete-suggestion{
    /*display: none;*/
}

.loaddiv
{
    width: 100%;
    height: 30px;
    display:none;
    background: #0099CC;
}

/*main*/
.wrap_M{
    background: #F2F2F2;
    height: 100%;
    overflow: hidden;
    min-width: 1080px;
}

.wrap{
    width: 96.3%;
    height: 890px;
    margin:0 auto;
    overflow: hidden;
}
/*Title_Index*/
.Title_Index{
    width: 100%;
    height: 36px;
}
.Title_Index a:nth-child(1){
    font-size: 12px;
    color: #999999;
    line-height: 36px;
    float: left;
}
.Title_Index i{
    color: #999999;
    float: left;
    line-height: 36px;
}
.Title_Index a:nth-child(3){
    font-size: 12px;
    line-height: 36px;
    float: left;
}
/*Member_Wrap*/
.Member_Wrap{
    width: 100%;/*1040*/
    height: 102px;
    background: #ffffff;
    padding-top: 10px;
}
.M_W_inf{
    width: 84.5%;/*900*/
    height: 102px;
    float: left;
}
.inf_top{
    width: 100%;
    height: 60px;
}
/*inf_top_mod1 左*/
.inf_top_mod1{
    width: 25.8%;
    height: 60px;
    float: left;
    margin-left: 1.1%;
    position: relative;
}


.expenses_wrap{
    margin-top:10px;
    position: relative;
}
.expenses_wrap_son{
    width: 100%;
    height: auto;
    background: #ffffff;
    position: absolute;
    top: 24px;
    left: 0;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    display: none;
}
.expenses_wrap_son li{
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-indent: 8px;
    border-bottom: 1px solid #cccccc;
}


.mod1_son{
    width: 220px;/*250*/
    height: 24px;
}
.type_wrap a,.expenses_wrap a{
    float: left;
    line-height: 24px;
    padding-right: 2%;
}
.inf_top_mod1 .mod1_lei{
    width: 69.2%;
    height: 22px;
    float: right;
    position: relative;
    cursor: pointer;
}
.mod1_lei .membertype{
    width: 100%;
    height: 22px;
    display: block;
    border: 1px solid #cccccc;
    background: url("../images/2.png") no-repeat 96% 4px;
}
.mod1_lei .expenses_son{
    width: 100%;
    height: 22px;
    display: block;
    border: 1px solid #cccccc;
    background: url("../images/2.png") no-repeat 96% 4px;
}
.type input{
    text-indent: 8px;
}
.expenses input{
    text-align: left;
    text-indent: 8px;
}
/*.mod1_lei img{*/
    /*position: absolute;*/
    /*top: 4px;*/
    /*right: 5px;*/
/*}*/
.type_son{
    width: 100%;
    height: auto;
    background: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    z-index: 999;
    position: absolute;
    top: 24px;
    left: 0;
    display: none;
}
.type_son li{
    width: 100%;
    height: 24px;
    border-bottom: 1px solid #cccccc;
    line-height: 24px;
    text-indent: 8px;
}
.type_son li:hover{
    background: #4c83db;
    color: #ffffff;
    cursor: pointer;
}
.expenses_wrap_son li:hover{
    background: #4c83db;
    color: #ffffff;
    cursor: pointer;
}


/*inf_top_mod2 中*/
.inf_top_mod2{
    float: left;
    width: 38%;
    height: 60px;
}
.regin_box{
    width: 326px;
    height: 24px;
    margin: 0 auto;
}
.regin_box a,.declare a{
    float: left;
    line-height: 24px;
    /*width: 85px;*/
    margin-right: 1%;

}
.regin{
    width: 238px;
    height: 22px;
    float: right;
}
/* 三级联动 开始 */
span.name { display: block;text-align: right; line-height: 30px;}
.gf-select { float: left; width: 78px; position: relative;}
.gf-select_1{margin:0 2px}
.gf-select_m0{margin-right: 0}
.gf-select span {width: 96%; height:18px;padding: 2px 0px 0px 2px;display: block; border: 1px solid #cccccc; cursor: pointer;}
.gf-select span em {font-style: normal;display: inline}
.gf-select .icon-jt { background: url(../images/2.png) center right no-repeat; width: 18px; height: 15px;position: absolute;right: 10px;top: 32%; margin-top: -3px;}
.gf-select ul {border: 1px solid #ddd; position: absolute; width: 100%; top: 20px; overflow-y :auto; display: none; background: #fff;}
.gf-select ul li { border-bottom: 1px solid #ddd; line-height: 20px; padding-left: 0px;cursor: pointer}
.gf-select ul li:last-child{ border-bottom: none; }
/* 三级联动 结束 */



.pay_right_1 .gf-select:first-child{
    margin-right: 2px;
}
.pay_right_1{
    position: relative;
}
.ze{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00E8D7;
    filter:alpha(opacity=0); /*IE滤镜，透明度*/
    -moz-opacity:0; /*Firefox私有*/
    opacity:0;/*其他，透明度*/
    z-index: 200;
    display: none;

}

.reason_wrap{
    width: 325px;
    height: 24px;
    /*margin-top: 10px;*/
    margin:10px auto 0;
}
.reason_wrap a{
    float: left;
    line-height: 24px;
    margin-right: 5px;
    float: left;
    display: block;
}
.reson{
    float: right;
    width: 236px;
    height: 24px;
    border:1px solid #cccccc;
    box-sizing: border-box;
    position: relative;
}
.reson input{
    line-height: 24px;
    text-indent: 8px;
    width: 100%;
    height: 24px;
    background: url("../images/2.png") no-repeat 210px 4px;
}
.reson img{
    float: right;
    margin: 4px 12px 0 0;
}
.reason_son{
    width: 100%;
    height: auto;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background: #ffffff;
    position: absolute;
    top: 24px;
    left: -1px;
    z-index: 999;
    display: none;
}
.reason_son li{
    width: 100%;
    height: 24px;
    border-bottom: 1px solid #cccccc;
    line-height: 24px;
    text-indent: 8px;
}
.reason_son li:hover{
    background: #4778c7;
    cursor: pointer;
}
.declare{
    width: 290px;
    height: 24px;
    margin:10px auto 0;
}
.declare_box{
    width: 78%;
    height: 24px;
    float: right;
    position: relative;
}
.declare_box label{
    display: block;
}
.declare_box .de_ipt1{
    width: 41.6%;
    height: 22px;
    border:1px solid #cccccc;
    text-indent: 14px;
    float: left;
}
.de_ipt1 input{
    height: 100%;
    width: 75%;
    float: left;
    text-indent: 5px;
}
.de_ipt1 span{
    width: 25%;
    height: 100%;
    float: left;
    line-height: 24px;
    text-indent: 2px;
}
.declare_box .de_ipt3{
    border: none;
    width: 19.8%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    float: left;
}
.de_ipt3 input{
    height: 100%;
    width: 75%;
    float: left;
}
.de_ipt3 span{
    width: 25%;
    height: 100%;
    float: left;
    line-height: 24px;
    text-indent: 2px;
}

.declare_box .de_ipt2{
    width: 36.3%;
    height: 22px;
    border:1px solid #cccccc;
    text-indent: 14px;
    float: left;
}
.de_ipt2 input{
    height: 100%;
    width: 75%;
    float: left;
    text-indent: 5px;
}
.de_ipt2 span{
    width: 25%;
    height: 100%;
    float: left;
    line-height: 24px;
    text-indent: 2px;
}

/*inf_top_mod3 右*/
.inf_top_mod3{
    width: 34.1%;
    height: 60px;
    float: left;
}
.waterM{
    width: 290px;
    height: 24px;
    margin:  0 auto;

}
.inf_top_mod3 a{
    float: left;
    line-height: 24px;
    margin-right: 1%;
    float: left;
}
.waterM input{
    width: 77%;
    height: 22px;
    border: 1px solid #cccccc;
    float: right;
    text-indent: 8px;
}

/*inf_bottom 会员登记*/
.inf_bottom{
    width: 100%;
    height: 32px;
    padding-top: 10px;
}
.inf_bottom li{
    float: left;
    line-height: 24px;
}
.inf_bottom li:first-of-type{
    margin-right: 10px;
    margin-left: 1.2%;
}
/*.maraR{*/
    /*margin-right: 20px;*/
/*}*/

.inf_bottom li:nth-child(2){
    margin-left: 10px;
    width: 175px;
    height: 22px;
}
.inf_bottom li:nth-child(2) input{
    width: 86%;
    height: 22px;
    line-height: 22px;
    text-indent: 4px;
    float: left;
}
.inf_bottom li:nth-child(2) img{
    float: right;
    margin: 4px 5px 0 0;
}


.inf_bottom li:nth-child(3){
    margin: 0 10px 0 10px;
}
.inf_bottom ul li:nth-child(3) img{
    margin:4px 5px 0 0;
}
.inf_bottom li:nth-child(4){
    width: 175px;
    height: 22px;
}
.inf_bottom li:nth-child(4) input{
    width: 86%;
    height: 100%;
    float: left;
    text-indent: 4px;
}
.inf_bottom li:nth-child(4) img{
    margin:4px 5px 0 0;
    float: right;
}
.inf_bottom li:nth-child(5){
    margin: 5px 10px 0 5%;
    cursor: pointer;
}

.check{
    width: 13px;
    height: 13px;
    border: 1px solid #CCCCCC;
}
.checked{
    background: url("../images/checkedImg.png") no-repeat;
}



.inf_bottom li:nth-child(6){
    height: 22px;
    line-height: 24px;
    margin-right: 10px;
}
.inf_bottom li:nth-child(6) input{
    width: 70%;
    height: 100%;
    float: left;
    text-indent: 4px;
}
.inf_bottom li:nth-child(6) img{
    margin:4px 5px 0 0;
    float: right;
}
.inf_bottom li:nth-child(7){
    width: 90px;
    height: 22px;
    line-height: 24px;
    border: 1px solid #cccccc;
    position: relative;
    margin-right: 1%;
}
.inf_bottom li:nth-child(7) input{
    width: 100%;
    float: left;
    text-indent: 4px;
    height: 24px;
    line-height: 24px;
    background: url("../images/2.png") no-repeat 66px 4px;
}

.reg_p{
    width: 100%;
    height: auto;
    background: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    position: absolute;
    top: 23px;
    left: -1px;
    display: none;
}
.reg_p p{
    width: 100%;
    height: 23px;
    text-indent: 4px;
    border-bottom: 1px solid #cccccc;
}
.reg_p p:hover{
    background: #4c83db;
    cursor: pointer;
}


.inf_bottom li:last-child{
    width: 180px;
    height: 22px;
    margin-left: 1px;
}
.inf_bottom li:last-child input{
    width: 90%;
    float: left;
    text-indent: 4px;
    line-height: 24px;
}
.inf_bottom li:last-child img{
    float: right;
    margin:4px 5px 0 0;
}
.footer_logo{
    color:#999999;
    text-align: center;
    height: 50px;
    line-height: 60px;
    background: #f2f2f2;
}




/*find and reset 右侧查询重置按钮*/
.M_W_find{
    width: 15.5%;
    height: 100%;
    float: right;
    position: relative;
}
.M_W_find button{
    width: 124px;
    height: 33px;
    background: #4c83db;
    border: none;
    border-radius:2px;
    color: #ffffff;
    display: block;
    cursor: pointer;
}
.find_b{
    outline: none;
    position: absolute;
    top:10%;
}
.reset_b{
    outline: none;
    position: absolute;
    top:60%;
}
/********************body 主题部分************************/

.main{
    width: 100%;
    height: 685px;
    background: #ffffff;
    margin: 0 auto;
    margin-top:10px;
}
.w_r{
    width: 100%;
    height: 73px;
}
.w_r button{
    width: 130px;
    height: 32px;
    border: none;
    border-radius:2px;
    color: #ffffff;
    display: block;
    cursor: pointer;

}
.withdraw{
    background: #27b56b;
    float: left;
    margin: 20px 0 0 20px;
    outline: none;
}
.recharge{
    background: #ff6032;
    float: left;
    margin: 20px 0 0 20px;
    outline: none;
}

.tab_header{
    width: 96.1%;
    height: 38px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    /*display:inline-block;*/
    margin: 0 auto;
}
.tab_header li{
    float: left;
    line-height: 22px;
    margin-top: 6px;
}
.tab_header li:first-of-type{
    height:24px;
    margin-left: 10px;
    margin-right: 10px;
}
.tab_header li:nth-child(2){
    width: 16.3%;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}
.tab_header li:nth-child(2) input{
    width: 100%;
    height: 100%;
    text-indent: 6px;
}
.tab_header li:nth-child(3){
    width: 14.4%;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    margin-left:10px;
    margin-right: 3%;
    position: relative;
    visibility: hidden;
}
.tab_header li:nth-child(3) input{
    width: 100%;
    height: 100%;
    text-indent: 4px;
    background: url("../images/2.png") no-repeat 95% 4px;
}
.numberSort{
    z-index: 2;
    width: 99.5%;
    background: #ffffff;
    border-left:1px solid #ccc;
    border-right: 1px solid #ccc;
    position: absolute;
    top: 23px;
    left: -1px;
    display: none;
}
.numberSort span{
    width: 100%;
    display:block;
    line-height: 24px;
    border-bottom: 1px solid #ccc;
}
.numberSort span:hover{
    background: #4c83db;
    cursor: pointer;
}

.tab_header li:nth-child(4){
    width: 32px;
    height: 24px;
    /*margin-left: 2%;*/
}
.tab_header li:nth-child(5){
    width: 14%;
    height: 24px;
    /*margin-right: 30px;*/
}
.tab_header li:nth-child(5) span{
    font-size: 22px;
    color: #26b56a;
    float: left;
}
.tab_header li:nth-child(5) i{
    text-decoration: none;
    float: left;
    padding-left: 4px;
}
.tab_header li:nth-child(6){
    width: 32px;
    height: 24px;

}
.tab_header li:nth-child(7){
    width: 14%;
    height: 24px;

}
.tab_header li:nth-child(7) span{
    font-size: 22px;
    color: #ff0000;
    float: left;
}
.tab_header li:nth-child(7) i{
    text-decoration: none;
    float: left;
    padding-left: 4px;
}
.tab_header li:last-child{
    width: 224px;
    float: right;
}
.tab_header li:last-child a{
    padding: 0 4px;
}

/*表格*/
.tab_wrap{
    width: 100%;
    height: 547px;
    background: #fff;
    display: block;
    margin: 0 auto;
    position: relative;
}
.noData{
    position: absolute;
    width: 100%;
    line-height: 200px;
    text-align: center;
    display: none;
    top: 0;
    left: 0;
}

.table1{
    margin: 0 auto;
    font-size: 14px;
    width: 96.3%;
    height: 543px;
    /*display: none;*/
    /*overflow-y: scroll;*/
}
.table1 thead tr th{
    height: 40px;
    line-height: 38px;
    background: #e6e6e6;
    border: 1px solid #cccccc;
    border-top: none;
}
/* 新加 */
.table1 tbody tr td{
    height: 54px;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
}
.table1 tbody tr:hover{
    background: #eeeeee;
}
.table1 tbody {
    display:block;
    height:508px;
    overflow-y:scroll;
}
.table1 thead,.table1 tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.table1 thead {
    width: calc( 99.9% - 0.6em )
}
.table1 tr td:last-child{
    color: #4778c7;
    text-decoration: underline;
}
.table1 tr td:last-child:hover{
    color: #f60;
    cursor: pointer;
}
.table1 tbody .qqq{
    width: 100%;
    height: 200px;
}
.ac_tip{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /*position: relative;*/
}
.td_tip{
    background: #ddd;
}


.totalMember{
    margin: 0 auto;
    font-size: 14px;
    width: 96.1%;
    height: 543px;
}
.table2{
    float: left;
    height: 543px;
    background: #ececec;
    display: none;
    position: absolute;
    top: 0;
    left: 2%;
}
.table2 thead tr th{
    height: 53px;
    line-height: 53px;
    background: #ececec;
    border: 1px solid #ffffff;
    border-top: none;
    border-right: none;
}
.table2 tbody tr:hover{
    background: #666;
    cursor: pointer;
    color: #ffffff;
}
.allmember1{
    background: #555;
    color: #ffffff;
}
/* 新加 */
.table2 tbody tr td{
    height: 53px;
    line-height: 25px;
    border-bottom: 1px solid #ffffff;
}
.table2 tbody tr td span:first-child{
    float: left;
}
.table2 tbody tr td span:nth-child(2){
    float: right;
}
.table2 tbody tr td span:nth-child(3){
    float: left;
}
.table2 tbody tr td span:nth-child(4){
    float: right;
    color: #ff0000;
}
.table2 tbody {
    display:block;
    height:480px;
    overflow-y:scroll;
}
.table2 thead,.table2 tbody tr {
    display:table;
    width:99.5%;
    table-layout:fixed;
}
.table2 thead {
    width: calc( 99.9% - 1em )
}



.table3{
    float: right;
    height: 543px;
    background: #ececec;
    display: none;
}
.table3 thead tr th{
    height: 38px;
    line-height: 38px;
    background: #ececec;
    border: 1px solid #cccccc;
    border-top: none;
    border-right: none;
}
/* 新加 */
.table3 tbody tr td{
    height: 53px;
    line-height: 53px;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
    text-align: center;
}
.table3 tbody tr td span:first-child{
    float: left;
}
.table3 tbody tr td span:nth-child(2){
    float: right;
}
.table3 tbody tr td span:nth-child(3){
    float: left;
}
.table3 tbody tr td span:nth-child(4){
    float: right;
}
.table3 tbody {
    display:block;
    height:502px;
    overflow-y:scroll;
}
.table3 thead,.table3 tbody tr {
    display:table;
    width:99.5%;
    table-layout:fixed;
}
.table3 thead {
    width: calc( 99.9% - 1em )
}







/*list 加载动画*/
.loading_2 {
    height: 20px;
    width: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px -32px;
    display: none;
}

@keyframes move2 {
    0% {
        left: 80px;
        top: 0; }
    75% {
        left: 0px;
        top: 0px; }
    85% {
        left: 0px;
        top: -16px; }
    95% {
        left: 80px;
        top: -16px; }
    100% {
        left: 80px;
        top: 0; } }
.loading_2 li {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    background-color: rgba(27, 255, 204, 0.82); }

.loading_2 li:nth-child(1) {
    animation: move2 2s linear 0s infinite;
    -webkit-animation: move2 2s linear 0s infinite; }

.loading_2 li:nth-child(2) {
    animation: move2 2s linear -0.4s infinite;
    -webkit-animation: move2 2s linear -0.4s infinite; }

.loading_2 li:nth-child(3) {
    animation: move2 2s linear -0.8s infinite;
    -webkit-animation: move2 2s linear -0.8s infinite; }

.loading_2 li:nth-child(4) {
    animation: move2 2s linear -1.2s infinite;
    -webkit-animation: move2 2s linear -1.2s infinite; }

.loading_2 li:nth-child(5) {
    animation: move2 2s linear -1.6s infinite;
    -webkit-animation: move2 2s linear -1.6s infinite; }


/*流水账号下拉框样式*/
.autocomplete-suggestions { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden;border-bottom: 1px solid #ddd }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #4778c7; }
.autocomplete-suggestions strong { font-weight: bold; color: #000;}
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }








