<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1 ,minimum-scale =1, maximum-scale =1, user-scalable = no" />
		<meta name="format-detection" content="telephone=no" />

		<title>超惠券详情</title>

		<link type="text/css" href="/distributor/css/style.css" rel="stylesheet" />
		<link type="text/css" href="/distributor/css/lib.css" rel="stylesheet" />
		<link type="text/css" href="/distributor/css/style1.css" rel="stylesheet" />
		<!-- 0 -->
		<link rel="stylesheet" type="text/css" href="/retailer/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/retailer/css/common.css" />
		<!-- 1 -->
		<link href="/distributor/css/weixintips.css" rel="stylesheet" />
		<link href="/distributor/css/suppercouponitems.css" rel="stylesheet" />

		<script type="text/javascript" src="/js/wx/md5.min.js"></script>
		<script type="text/javascript">
			document.writeln("<script type=\"text\/javascript\"");
			document.writeln("src=\"\/webapi\/distributor\/weixin\/jssdk/" + md5(window.location.href) + ".js\">");
			document.writeln("<\/script>");
		</script>
		<!-- 0 -->
		<script src="/retailer/js/adaptive.js" type="text/javascript" charset="utf-8"></script>
		<!-- 1 -->
		<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
		<script type="text/javascript" src="/js/jquery/jquery.qrcode.min.js"></script>
		<script type="text/javascript" src="/js/jquery/qrcodeInitialize.js"></script>
		<script type="text/javascript" src="/js/jquery/juicer-min.js"></script>
		<script type="text/javascript" src="/js/jquery/toastr.min.js"></script>
		<script type="text/javascript" src="/js/jquery/utitlity.js"></script>
		<script type="text/javascript" src="/js/wx/configinit.js"></script>
		<script type="text/javascript" src="/js/wx/share.js"></script>
		<script type="text/javascript" src="/js/jquery/jquery.qrcode.min.js"></script>
		<script type="text/javascript" src="/js/jquery/qrcodeInitialize.js"></script>
		<script type="text/javascript">
			var share_category = "distributor";
		</script>

		<script src="/distributor/js/lib/jquery-common.js"></script>
		<script src="/distributor/js/lib/common.js"></script>
		<script src="/distributor/js/common-buttom-nav.js"></script>
		<script src="/distributor/js/common-recommend.js"></script>
		<script src="/distributor/js/common-supperfans.js"></script>
		
	</head>

	<body ms-controller="suppercouponitems" class="ms-controller">
		<!--推荐给朋友浮层样式-->
		<div class="showbox-w2">
			<div class="show-step"><img src="/distributor/image/step.png" /></div>
		</div>

		<!-- begin -->

		<div class="myCon" style="margin-bottom: 2rem;">
			<div v-show="isShow" v-for="data in items" style="display: none;">
				<!-- f_banner -->
				<div class="f_banner">
					<img :src="data.posterpic" />
					<p>超惠券</p>
					<p>{{data.state}}</p>
				</div>

				<div class="big_box">
					<!-- f_top -->
					<div class="f_top">
						<h3>{{data.activitytitle}}</h3>
						<span>{{data.activitycode}}</span>
						<div><span>{{data.begintime}}</span>至<span>{{data.endtime}}</span></div>
					</div>

					<!-- 更正说明 -->
					<div class="d_correct f12">
						<p>{{data.changes[0].correctdescription}}</p>
						<span></span><i>更正说明</i>
					</div>

					<!-- 门店要求 -->
					<div class="d_require f12">
						<p>{{data.changes[0].customerrequest}}</p>
						<span></span><i>门店要求</i>
					</div>

					<!-- 超惠券 -->
					<div class="d_require f12 d_chq">
						<span></span><i>超惠券</i>
					</div>
					<!-- 数据填充界限 -->
					<div class="msgVal"></div>
					<!-- 优惠券公共布局 -->
					<div class="yhq_box" v-for="dataVal in itemsVal">
						<div class="yhq_details">
							<dl class="clearfix">
								<dt><img :src="dataVal.itempic"/><i :class="[dataVal.activity_flag? 'acStart':'acEnd']">{{dataVal.time_to_end_text}}</i></dt>
								<dd>
									<h3>{{dataVal.ticketcontent}}</h3>
									<p>￥{{dataVal.unitcost}}</p>
									<div>
										<span :class="[dataVal.cashback.distributor? 'shangj':'disNone']">自主</span><span :class="[dataVal.cashback.ipaloma? 'huip':'disNone']">惠普</span>
										<a href="javascript:;"><span :class="[dataVal.cashback.more? 'txtMore':'txtOne']">{{dataVal.cashback.content}}</span><i :class="[dataVal.cashback.more? 'txtMore':'txtOne']">  》 </i></a>
									</div>
								</dd>
							</dl>
							<div class="trans_box">{{dataVal.activitykind}}券</div>
						</div>
						<div class="kong_top"><span></span><span></span></div>
						<div class="kong_down"></div>
						<ul class="clearfix yhq_data">
							<li><span>{{dataVal.itemtotalnum==null?'0':dataVal.itemtotalnum}}</span><span>总投放</span></li><span> | </span>
							<li><span>{{dataVal.totalverifynum==null?'0':dataVal.totalverifynum}}</span><span>总核销</span></li>
							<li><span>{{dataVal.homeverify==null?'0':dataVal.homeverify}}</span><span>核销率</span></li>
							<p>备注：{{dataVal.description}}</p>
						</ul>
					</div>
					<!-- 补充信息 -->
					<div class="d_require f12 m88">
						<p>
							{{data.changes[0].description}}
						</p>
						<span></span>
						<i>补充信息</i>
					</div>
				</div>
			</div>
		</div>

		<!-- end -->
		<footer>
			<div class="bottom-btn">
				<div class="bottom-btnl">邀请惠粉</div>
				<div class="bottom-btnr">推荐给朋友</div>
			</div>
			<div class="bottom-nav">
			</div>
		</footer>

		<!--<script src="//cdn.bootcss.com/avalon.js/2.0.1/avalon.min.js"></script>-->
		<script src="/distributor/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="/distributor/js/suppercouponitems-main.js"></script>
		<script src="/js/sdk/sdk.js"></script>
	</body>

</html>