<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1 ,minimum-scale =1, maximum-scale =1, user-scalable = no" />
		<meta name="format-detection" content="telephone=no" />
		<title>超惠券</title>
		<link type="text/css" href="/distributor/css/style.css" rel="stylesheet" />
		<link type="text/css" href="/distributor/css/lib.css" rel="stylesheet" />
		<link type="text/css" href="/distributor/css/style1.css" rel="stylesheet" />
		<link href="../css/dropload.css" rel="stylesheet" />
		<!-- 0 -->
		<link rel="stylesheet" type="text/css" href="/retailer/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/retailer/css/swiper-3.4.1.min.css" />
		<link href="/distributor/css/suppercoupon.css" rel="stylesheet" />
		<!-- 1 -->
		<link href="/distributor/css/weixintips.css" rel="stylesheet" />
		<script type="text/javascript" src="/js/wx/md5.min.js"></script>
		<script type="text/javascript">
			document.writeln("<script type=\"text\/javascript\"");
			document.writeln("src=\"\/webapi\/distributor\/weixin\/jssdk/" + md5(window.location.href) + ".js\">");
			document.writeln("<\/script>");
		</script>
		<!-- 0 -->
		<script src="/distributor/js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="/retailer/js/adaptive.js" type="text/javascript" charset="utf-8"></script>
		<script src="/retailer/js/swiper-3.4.1.jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<!-- 1 -->
		<script src="http://apps.bdimg.com/libs/jquery-lazyload/1.9.5/jquery.lazyload.min.js"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
		<script type="text/javascript" src="/js/jquery/jquery.qrcode.min.js"></script>
		<script type="text/javascript" src="/js/jquery/qrcodeInitialize.js"></script>
		<script type="text/javascript" src="/js/jquery/juicer-min.js"></script>
		<script type="text/javascript" src="/js/jquery/toastr.min.js"></script>
		<script type="text/javascript" src="/js/jquery/utitlity.js"></script>
		<script type="text/javascript" src="/js/wx/configinit.js"></script>
		<script type="text/javascript" src="/js/wx/share.js"></script>
		<script type="text/javascript" src="/js/jquery/jquery.qrcode.min.js"></script>
		<script type="text/javascript" src="/js/jquery/qrcodeInitialize.js"></script>
		<script type="text/javascript">
			var share_category = "distributor";
		</script>
		<script src="/distributor/js/lib/jquery-common.js"></script>
		<script src="/distributor/js/lib/common.js"></script>
		<script src="/distributor/js/common-buttom-nav.js"></script>
		<script src="/distributor/js/common-recommend.js"></script>
		<script src="/distributor/js/common-supperfans.js"></script>
		<script src="/js/jquery/dropload.min.js"></script>
		

	</head>

	<body>
		<!--推荐给朋友浮层样式-->
		<div class="showbox-w2">
			<div class="show-step"><img src="/distributor/image/step.png" /></div>
		</div>
		<!--<div id="dropload">
        <div class="container-w">
        </div>
    </div>-->
		<!-- begin -->

		<div class="listBox">
			<div v-for="item in items">
				<dl class="clearfix" @click="toItems(item.guid)">
					<dt>
						<img :src="item.imgSrc"/>
						<span>{{item.state}}</span>
					</dt>
					<dd>
						<h3>
							{{item.title}}
						</h3>
						<p>
							<i>{{item.bianhao}}</i>
							<img src="/distributor/image/user1.jpg" />
							<span>{{item.userNum}}万</span>
						</p>
						<p><span>{{item.beginTime}}</span><span> 至 </span><span>{{item.endTime}}</span></p>
					</dd>
				</dl>
				<div class="shangjia clearfix"  @click="toStore(item.guid)">
					<!--<img src="images/d_shang.jpg" />
					<span>
						{{item.company}}
					</span>-->
					<a href="javascript:;">
						<i>投放门店：</i><i><span>{{item.doorNum}}</span>家</i>
						<b> 》 </b>
					</a>
				</div>
				<!--</div>-->
				<p class="bg" v-if=item.flag></p>
				<div class="swiper-container" v-else>
					<div class="swiper-wrapper slideTop">
						<div class="swiper-slide slide1 slide"  @click="toTopic(item.guid)">
							<i class="youzi1">
								{{item.data.msg}}
							</i>
							<span>{{item.data.butie}}万</span>
						</div>
						<div class="swiper-slide slide2 slide">
							<p>
								活动预算：<span>{{item.data.yusuan}}</span>元
							</p>
							<p>
								已 发 放：<span>{{item.data.fafang}}</span>元
							</p>
							<span>{{item.data.fanxian}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- end -->
		<footer>
			<div class="bottom-btn">
				<div class="bottom-btnl">邀请惠粉</div>
				<div class="bottom-btnr">推荐给朋友</div>
			</div>
			<div class="bottom-nav">
			</div>
		</footer>
		<script src="/distributor/js/suppercoupon-main.js"></script>
		<script src="/js/sdk/sdk.js"></script>
	</body>

</html>